<?xml version="1.0" encoding="UTF-8"?>
<Module specificationVersion="1">
  <ModulePrefs title="Calagator"
               description="Calagator is a unified calendar for the technology community of Portland, Oregon."
               author="Jesse Hallett"
               author_affiliation="Jive Software"
               author_email="jesse.hallett@jivesoftware.com">

      <Require feature="dynamic-height"/>
      <Require feature="dynamic-width"/>
      <Require feature="jive-core-v2"/>
      <Require feature="jquery-1.6"/>
      <Require feature="osapi"/>
      <Require feature="settitle"/>
      <Require feature="views"/>
      <Require feature="selection"/>
      <Require feature="embedded-experiences"/>
      <Require feature="jive-opensocial-ext-v1"/>

      <Require feature="opensocial-data" />
      <Require feature="opensocial-templates"/>

      <Require feature="actions">
          <Param name="action-contributions">
              <![CDATA[
                <action id="com.jivesoftware.calagator"
                        path="jive/actions/rte"
                        label="Calagator Search"
                        view="embedded.search"
                        icon="images/calagator-16x16.png" />
                ]]>
          </Param>
      </Require>

      <Link rel="Icon" href="images/calagator-16x16.png" />
      <Link rel="MediumIcon" href="images/calagator-48x48.png" />
      <Link rel="LargeIcon" href="images/calagator-128x128.png" />

  </ModulePrefs>

  <Content type="html" view="canvas" href="canvas.html" />
  <Content type="html" view="embedded.search" href="search.html" preferred_height="85" preferred_width="400" />
  <Content type="html" view="embedded.view" href="view.html" preferred_height="500" preferred_width="800" />

</Module>
